.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2C2C30;;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    min-width: 100px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #0F265C;
}

.form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-control.ng-touched.ng-invalid {
    border-color: #f44336;
}

.error-message {
    font-size: 12px;
    color: #f44336;
    margin-top: 5px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #0F265C;
    width: 48%;
    margin-bottom: 10px;
}

.reset-button {
    background-color: #d3d3d3;
}

.submit-button {
    background-color: #FFDD00;
}

.btn:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .button-row {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .form-control {
        font-size: 12px;
        padding: 8px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 15px;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }